.test-statistics {
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters input, .filters .react-datepicker-wrapper {
  flex-grow: 1;
}

.clear-filters {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.test-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.bg-green {
    background-color: #008000 !important; /* color verde */
  }
  
  .bg-red {
    background-color: #f31f00 !important; /* color rojo */
  }
  